body {
  font-family: sans-serif;
  margin: auto;
  background-color: black;
}

.Titulo {
  text-align: center;
  font-family: monospace;
  font-size: 1.4rem;
  color: aqua;
}

.foto{
  text-align: center;
}

.INFORMACION {
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color:brown
}

